@keyframes default-anime {
    from{
        opacity: 0;
        transform: translateX(-2em);
    }
    to{
        opacity: 1;
        transform: translateX(0);

    }
}


#vote-page-container{
    width:80vw;
    margin:3em auto;
    /*border:red solid 1px;*/
    --animation-duration:.5s;

}
#vote-page-container>h1{
    font-family: "sans-serif 微软雅黑";
    font-weight: 100;
    font-size: 2.4em;
    color:var(--main-color);
    margin:2em;
}
#vote-page-container>p {
    /*float:left;*/
    opacity: 0;
    transform: translateX(-2em);
    display: block;

    font-family: "sans-serif 微软雅黑";
    font-weight: 300;
    font-size: 1.4em;
    margin:1em 5em;

}
