main>div{
    background-color: #ffa7a440;
    width:10px;
    height: 100%;
    transition: .3s;
}
main>div:hover{
    width:20px;
    cursor: pointer;
}
#previous-page{
    grid-area:left-page;
    box-shadow: -10px 10px 10px #ffa7a4;
    position:relative;
    left:10px;

}
#previous-page:hover{
    left:0px;
}
#next-page{
    grid-area:right-page;
    box-shadow: 10px 10px 10px #ffa7a4;
}
