form{
    --transition-duration:.4s;
    --form-width:60vw;
    --main-color:#ddd;
    --sec-color:#4B3A7E;
    --border-image-width: 2px;
    --border-image-slice: 1;
    --border-width:2px;
    --border-image-repeat:round;
    --border-image-outset:0px;
    background-color: #fffa;
    box-shadow: 0 15px 5px  #fffa;
    margin:0em auto;
    width:var(--form-width);
    border:var(--main-color) solid var(--border-width);
    /*border-radius: 20px;*/
    display: grid;

    grid-row-gap: 5vmin;
    grid-column-gap: 5vmin;
    border-image-source:linear-gradient(to right,var(--main-color),var(--main-color));

    border-image-width: var(--border-image-width);
     border-image-slice: var(--border-image-slice);
    border-image-repeat: var(--border-image-repeat);
    border-image-outset: 0 0 20px 0;
    transition:var(--transition-duration);
}
h2{
    height:100%;
    display: flex;
    font-size: 1.3rem;
    font-family: "sans-serif 微软雅黑";
    font-weight: lighter;
}
.input-container{
    border:var(--main-color) solid var(--border-width);
    display: grid;
    /*grid-template: auto / auto;*/
    color:var(--sec-color);
    border-image-source:linear-gradient(to right,var(--main-color),var(--main-color));
    border-image-width: var(--border-image-width);
    border-image-slice: var(--border-image-slice);
    border-image-repeat: var(--border-image-repeat);
    cursor: text;
    font-size:1.0rem;
    transition:var(--transition-duration);
    padding:5px 15px;
    height:auto;

    user-select: none;
    /*height:90%;*/
}

.button{
    height:80%;
    width:75%;
    margin:auto;
    border-image-source:linear-gradient(to right,var(--main-color),var(--main-color));
    border-image-width: var(--border-image-width);
    border-image-slice: var(--border-image-slice);
    border-image-repeat: var(--border-image-repeat);
    border-image-outset: 2px;
    cursor:pointer;
    font-size:1rem;
    background:none;
    padding:0;
    color:#00b3ff;
    transition:var(--transition-duration);
}
.button:hover{
    color:var(--sec-color);
}

.input-container>label:first-child {
    grid-row: 1/span 1;
    grid-column: 1/span 1;


    width: 100%;
    float:left;
    font-size:1rem;
    transform: translateX(20%);

    transition:var(--transition-duration);
    margin-top:auto;
    margin-bottom:auto;
    display: block;
}
.movable:hover>label:first-child{
    transform: translateX(10%);
    opacity: 0;
}
.movable:hover>div{
    opacity:1;
    min-width: 80%;
    transform: translateX(10%);

}


.input-container>div{
    transform: translateX(100%);

    grid-row: 1/span 1;
    grid-column: 1/span 1;

    float:left;
    display: block;

    transition:var(--transition-duration);


    opacity:0;
    margin-top:auto;
    margin-bottom:auto;
    font-size:1em;
    padding:5px 5%;
}
.input-container>div>input,
.input-container>div>select {
    width:80%;
}

.input-container>div::after {
    content:" ";
    display: block;
    border-bottom: var(--main-color) solid 3px;
    transition:var(--transition-duration);
    width:0;
    margin:auto;
    transform:translate(-10%,0);
}
.input-container>div:focus::after {
    width:80%;
}
