<template id="table-template">
    <style type="text/css">
        @import "stylesheet/main.css";
    </style>
    <table>
        <caption>
            <slot name="title"></slot>
        </caption>
        <thead>
        <tr>
            <th>NO.</th>
            <th>name</th>
            <th>info</th>
        </tr>
        </thead>
        <tbody>
        <!-- <tr>
             <td>1</td>
             <td>2</td>
             <td>2</td>
         </tr>
         <tr>
             <td>1</td>
             <td>e2</td>
             <td>2</td>
         </tr>-->
        </tbody>
    </table>
</template>