#notification{
    --height:3.6em;
    top:0;
    z-index: -3;
    opacity: 0;

    background-color:white;
    line-height: var(--height);
    position:fixed;
    width:20vw;
    height:var(--height);
    left:40vw;
    transition:.3s;
    overflow:hidden;
    border-radius: 10px;
    border:rgba(150,255,150,.5) solid 1px;
    text-align: center;
    color: cadetblue;
}
#notification.open{
    z-index: 3;
    opacity: 1;
    top:10vh;
    box-shadow: 0 0 10px rgba(150,255,150,.5);
    /*top:0;*/
}
#notification.is-confirm{
    height:calc(var(--height) * 2) !important;
}
#notification.is-confirm>button{
    margin:0 10px;
    background-color: white;
    padding:3px 6px;
}