body{
    padding:0;
    margin:0;
    --header-height:4em;
    --transition-duration:.3s;
}
header{
    height:var(--header-height);
    width:100vw;
    background-color:#444;
    display: flex;
    flex-direction: row-reverse;

}
header>nav{
    padding: 0 3em;
    height:100%;
    color:white;
    text-align: center;
    line-height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition:var(--transition-duration);
}
header>nav:hover{
    background-color:rgba(0,0,0,.5);
}

main{
    height:calc(100vh - var(--header-height));
    /*border:red solid 4px;*/
    width:100vw;
    overflow: hidden;
    transition:var(--transition-duration);
    display: grid;
}
#to-next-page{
    position:fixed;
    transition: var(--transition-duration);
    top:90%;
    left:calc(50%);
    font-size:4em;
    color:rgba(200,200,200,.3);
    transform: rotateZ(90deg) scale(1,3);
    cursor:pointer;
    z-index:1;
}
#to-next-page:hover{
    text-shadow: 0 0 10px rgb(2,126,160);
}
#to-pre-page{
    position:fixed;
    transition: var(--transition-duration);
    top:10%;
    left:calc(50% - 0.58em);
    font-size:4em;
    color:rgba(200,200,200,.3);
    transform: rotateZ(-90deg) scale(1,3);
    cursor:pointer;
    z-index: 1;
}
#to-pre-page:hover{
    text-shadow: 0 0 10px rgb(2,126,160);
}
#logo-container{
    margin:auto;
    height:600px;
    width:600px;
    display: grid;
}
#logo-container>img{
    height:100%;
    width:100%;
    grid-row: 1/ span 1;
    grid-column: 1/ span 1;
}
#logo-2d{
    transition:var(--transition-duration);
}
#logo-2d:hover{
    filter: blur(10px);
}
.page{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    position:relative;
    transition: var(--transition-duration);
    text-align: center;
}
.main-pre-page{
    top:-100%;

}
.main-cur-page{
    top:0%;
}
.main-next-page{
    top:100%;
}
#introduction-container{
    height:100%;
    width:calc(100% - 16em);
    padding:8em;
    text-align: center;
}
#introduction-container>p{
    width:100%;
    margin:1.3em;
    color:rgb(2,126,160);
    font-size: 1.2em;
}
#software-news-list{
    margin:8em;
    list-style: none;
}
#software-news-list>li{
    margin:1em;
    font-size: 1.2em;
    color:rgb(2,126,160);
}
#login-form{
    margin:8em;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 1.5em;
    height:calc(100% - 16em);
    justify-items: center;
}

#login-form>input{
    height:3em;
    width:60%;
    border-radius:3em;
    border:rgb(2,126,160) outset 2px;
    transition: var(--transition-duration);
}
#login-form>input:hover{
    color:rgb(2,126,160);
    box-shadow: 0 0 15px rgb(2,126,160);
    background-color: rgba(2,126,160,.2);;
}
#login-form>input[type='text']:nth-child(1){
    padding:.3em 3em;
    grid-row: 1/ span 1;
    grid-column: 1/span 3;

}
#login-form>input[type='text']:nth-child(2){
    padding:.3em 3em;
    grid-row: 2/ span 1;
    grid-column: 1/span 3;

}
#login-form>input[type='reset']{
    background-color:white;
    cursor: pointer;
    grid-row: 3/ span 1;
    grid-column: 1/span 1;
}
#login-form>input[type='submit']{
    background-color:white;
    cursor: pointer;
    grid-row: 3/ span 1;
    grid-column: 3/span 1;
}