#container > main > header {
    --header-height: 4em;
    --header-color: white;
    height: var(--header-height);
    display: flex;
    background-color: var(--main-color-alpha4);
}

#container > main > header > #friend-pic {
    height: calc(var(--header-height) * 0.85);
    width: calc(var(--header-height) * 0.85);
    border-radius: 50%;
    margin: calc(var(--header-height) * 0.07);
    margin-left: 2em;
}

#container > main > header > #friend-nickname {
    display: inline-block;
    margin: auto 0 auto 2em;
    color: var(--header-color);
}