#toast-container {
    position: fixed;
    left: 30vw;
    top: 10vh;

    z-index: 1;
    display: none;
    grid-template-columns: 40vw;
    grid-auto-rows: min-content;
}

#toast-container > .pop-over {
    border-radius: 15px;
    border: #aaffdd solid 2px;
    background-color: #aaffdd77;
    width: calc(100% - 20px);
    padding: 10px;
    text-align: center;
    line-break: strict;
    word-break: break-all;
}